@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
	scrollbar-width: 1px;
	scroll-behavior: smooth;
	font-size: 80%;

	@media screen and (min-width: 500px) {
		font-size: 90%;
	}
	@media screen and (min-width: 900px) {
		font-size: 100%;
	}
}

a {
	transition: 0.3s;

	&:hover {
		@apply text-green;
	}
}

input {
	outline: none;
}

textarea {
	outline: none;
}

@layer components {
	.basicShadow {
		box-shadow: 0 10px 30px -15px theme('colors.navy-shadow');
		transition: 0.3s;

		&:hover,
		&:focus-visible {
			box-shadow: 0 20px 30px -15px theme('colors.navy-shadow');
		}
	}

	.specialBtn {
		@apply rounded-lg border border-green px-2 py-1 text-sm text-green transition-all;

		&:hover:enabled,
		&:focus-visible:enabled {
			box-shadow: 4px 4px 0 0 theme('colors.green');
			transform: translate(-5px, -5px);
		}
	}
}

/* :root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system,
    system-ui, sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
} */
