.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;

  @media screen and (max-width: theme("screens.md")) {
    box-shadow: 0 10px 30px -15px theme("colors.navy-shadow");
    transition: 0.3s;

    &:hover,
    &:focus-visible {
      box-shadow: 0 20px 30px -15px theme("colors.navy-shadow");
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 100px;

    @media screen and (max-width: theme("screens.md")) {
      margin-bottom: 70px;
    }
  }

  &:nth-of-type(odd) {
    .projectCountent {
      grid-column: 7/-1;
      text-align: right;

      @media screen and (max-width: theme("screens.md")) {
        grid-column: 1/-1;
        text-align: left;
        padding: 40px 40px 30px;
      }
    }

    .projectImage {
      grid-column: 1 / 8;

      @media screen and (max-width: theme("screens.md")) {
        grid-column: 1/-1;
      }
    }

    .projectTechList {
      justify-content: flex-end;

      @media screen and (max-width: theme("screens.md")) {
        justify-content: flex-start;
      }
    }

    .projectLinks {
      justify-content: flex-end;
      margin-left: 0;
      margin-right: -10px;
      @apply text-light-slate;

      @media screen and (max-width: theme("screens.md")) {
        justify-content: flex-start;
      }
    }
  }

  .projectCountent {
    position: relative;
    grid-column: 1/7;
    grid-row: 1 / -1;

    @media screen and (max-width: theme("screens.md")) {
      grid-column: 1/-1;
      z-index: 5;
      padding: 40px 40px 30px;
    }
  }

  .projectImage {
    position: relative;
    z-index: 1;
    grid-column: 6 / -1;
    grid-row: 1 / -1;

    @media screen and (max-width: theme("screens.md")) {
      grid-column: 1 / -1;
      height: 100%;
      opacity: 0.25;
    }

    a {
      width: 100%;
      height: 100%;
      display: inline-block;
      @apply rounded-lg bg-green;

      &:hover,
      &:focus {
        background: transparent;

        &:before,
        img {
          background: transparent;
          filter: none;
        }
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        transition: 0.3s;
        mix-blend-mode: screen;

        @apply bg-navy;
      }
    }

    img {
      @apply rounded-lg;
      mix-blend-mode: multiply;
      filter: grayscale(100%) contrast(1) brightness(90%);
      aspect-ratio: 2/1.2;
      box-shadow: 0 10px 30px -15px theme("colors.navy-shadow");
      transition: 0.3s;

      &:hover,
      &:focus-visible {
        box-shadow: 0 20px 30px -15px theme("colors.navy-shadow");
      }

      @media screen and (max-width: theme("screens.md")) {
        aspect-ratio: 1/1;
      }
    }
  }

  .projectOverline {
    margin: 10px 0;
    font-weight: 400;
    @apply text-base text-green;
  }

  .projectTitle {
    margin: 0 0;
    @apply text-3xl text-lightest-slate;
  }

  .projectDescription {
    position: relative;
    z-index: 2;
    padding: 25px;
    box-shadow: 0 10px 30px -15px theme("colors.navy-shadow");
    transition: 0.3s;
    @apply rounded-lg bg-light-navy text-lg text-light-slate;

    &:hover,
    &:focus-visible {
      box-shadow: 0 20px 30px -15px theme("colors.navy-shadow");
    }

    @media screen and (max-width: theme("screens.md")) {
      padding: 20px 0;
      background-color: transparent;
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .projectTechList {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 25px 0 10px;
    padding: 0;
    z-index: 2;

    li {
      margin: 0 20px 5px 0;
      white-space: nowrap;
      @apply text-base text-light-slate;
    }
  }

  .projectLinks {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: -10px;
    @apply text-light-slate;

    a {
      padding: 10px;
    }
  }
}
